@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans');

h1 {
    color: #f15b22;
}

footer {
  height: 50px;
}

.home-container {
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}

.list {
  	list-style: none outside none;
}

.item {
  	padding: 5px 10px;
  	margin: 5px 0;
  	border: 2px solid #444;
  	border-radius: 5px;
  	background-color: #00a9bc;

  	font-size: 1.1em;
  	font-weight: bold;
  	text-align: center;
  	cursor: move;
}

.actions span {
    display: inline-block;
    cursor: pointer;
}

.actions span i {
    vertical-align: text-bottom;
}

i.remove {
    margin-bottom: 2px;
}

.panel-body {
    padding: 5px;
}

.save-item {
    background-color: #4a9835;
    color: #fff;
}

.buttons-container div.input-group {
    display: inline-flex;
}

.new-item-section, .buttons-section {
    margin-top: 20px;
}
