<div class="panel-body">
    <!-- View mode -->
    <div class="col-sm-8 text-left" ng-show="!editMode">{{itemData.content}}</div>
    <div class="col-sm-4 actions" ng-show="!editMode">
        <span ng-click="editItem()">
            <i class="fa fa-pencil-square-o fa-2x edit"></i>
        </span>
    </div>
    <form novalidate name="editForm" ng-show="editMode">
        <!-- Edit mode -->
        <div class="col-sm-8 text-left">
            <input type="text" name="itemContent" ng-model="itemContent" class="form-control" maxlength="25">
        </div>
        <div class="col-sm-4 actions">
            <button type="submit" class="hidden"
                    ng-click="submitEditItem()"
                    ng-disabled="itemContent.length == 0 || editForm.itemContent.$pristine"></button>
            <button type="button" class="btn btn-secondary" ng-click="cancelEdit()" name="button">Cancel</button>
        </div>
    </form>
</div>
