<ul ui-sortable="sortableOptions" ng-model="itemsList" class="list">
    <li ng-repeat="item in itemsList track by $index" class="item" data-id="{{item.id}}">
        <div class="panel panel-default">
            <item item-data="item"></item>
        </div>
    </li>
    <li ng-hide="itemsList.length">
      <div class="alert alert-warning text-center" role="alert">
          Oops! Seems like you don't have items yet<br>
          Go ahead an click on "Create new Item" to start.
      </div>
    </li>
</ul>
