<div class="container home-container">
    <div class="row">
        <div class="col-md-5 col-sm-8 col-sm-offset-2 col-md-offset-2" ng-hide="loading">
            <h1 class="text-center">Sortable List</h1>
            <list items-list="itemsList" loading="loading"></list>
            <div class="text-center section text-center buttons-section">
                <button class="btn btn-primary" ng-click="showNew = !showNew" ng-show="!showNew">Create New Item</button>
                <button class="btn btn-secondary" ng-click="cancelNew()" ng-show="showNew">Cancel</button>
                <button class="btn btn-secondary" ng-click="clearAll()">Clear All!</button>
            </div>
            <div class="text-center section new-item-section" ng-show="showNew">
                <ul class="list">
                    <li class="item">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-sm-12 text-left">
                                    <form novalidate class="buttons-container text-center">
                                        <label>New Item!</label>
                                        <div class="input-group col-sm-8">
                                            <input type="text" class="form-control" maxlength="25" placeholder="Press enter to save!" ng-model="newItemText">
                                        </div>
                                        <input class="hidden" ng-click="addNewItem()" type="submit" value="Add to List!">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
